/* CSS for the Lynden High School IT Website */
:root {
  --light: #f8f9fa;
  --light-hover: #e9e9e9;
  --dark: #3b3b3b;
  --dark-hover: #474747;
  --primary: #56cf55;
  --secondary: #ffca09;
}

.hidden {
  display: none !important;
  opacity: 0 !important;
}

/* Body */
@media (prefers-color-scheme: light) {
  body {
    background-color: #dddddd;
    color: black !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #2e2e2e;
    color: white !important;
  }
}

/* Navbar */
@media (prefers-color-scheme: light) {
  nav,
  .gsc-control-cse,
  #___gcse_1,
  .dropdown-menu {
    background-color: var(--light) !important;
    border-radius: var(--light) !important;
  }
  nav li.active a {
    color: rgb(0, 0, 0) !important;
  }
  nav a {
    color: rgba(0, 0, 0, 0.5) !important;
    transition: 100ms ease;
  }
  nav a:hover {
    color: rgba(0, 0, 0, 0.7) !important;
  }
  .navbar-toggler {
    background-color: #dddddd !important;
    color: black !important;
    fill: black !important;
  }

  .dropdown-item:hover {
    background-color: var(--light-hover);
  }

  .safari-warning-search {
    color: rgba(0, 0, 0, 0.5) !important;
  }
}

@media (prefers-color-scheme: dark) {
  nav,
  .gsc-control-cse,
  #___gcse_1,
  .dropdown-menu {
    background-color: var(--dark) !important;
    border-color: var(--dark) !important;
  }
  nav li.active a {
    color: rgb(255, 255, 255) !important;
  }
  nav a {
    color: rgba(255, 255, 255, 0.5) !important;
    transition: 100ms ease;
  }
  nav a:hover {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .navbar-toggler {
    background-color: #2e2e2e !important;
    color: white !important;
    fill: white !important;
  }

  .dropdown-item:hover {
    background-color: var(--dark-hover);
  }

  .safari-warning-search {
    color: rgba(255, 255, 255, 0.5) !important;
  }
}

.dropdown-menu {
  /* box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5); */
  border-radius: 5px !important;
}

.navbar:hover a.navbar-brand .navbar-brand-img {
  width: 210px;
  height: 80px;
}

a.navbar-brand .navbar-brand-img {
  transition: 500ms ease-in-out;
  width: 55px;
  height: 80px;
  overflow-x: hidden;
  background-image: url("../images/lynden/svg/lyndenBrand.svg");
  background-size: cover;
}
/* Searchbar */
.search {
  width: 240px;
}
.gsc-input-box {
  border-radius: 5px !important;
  height: 35px !important;
  width: 100% !important;
  padding-top: 1px !important;
  padding-left: 0px !important;
}
.gsc-search-button,
.gsc-search-button-v2 {
  border-radius: 5px !important;
  height: 35px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.safari-warning-search {
  margin-top: auto;
  margin-bottom: auto;
}

/* Jumbotron */
@media (prefers-color-scheme: light) {
  .jumbotron {
    background-color: var(--light) !important;
    border-radius: 15px;

    box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
    -webkit-box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
    -moz-box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
  }
}

@media (prefers-color-scheme: dark) {
  .jumbotron {
    background-color: var(--dark) !important;
    border-radius: 15px;

    box-shadow: 10px 10px 99px -20px rgba(15, 15, 15, 0.7);
    -webkit-box-shadow: 10px 10px 99px -20px rgba(15, 15, 15, 0.7);
    -moz-box-shadow: 10px 10px 99px -20px rgba(15, 15, 15, 0.7);
  }
}

/* Card */
@media (prefers-color-scheme: light) {
  .card {
    background-color: var(--light) !important;

    box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
    -webkit-box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
    -moz-box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: var(--dark) !important;

    box-shadow: 10px 10px 99px -20px rgba(15, 15, 15, 0.7);
    -webkit-box-shadow: 10px 10px 99px -20px rgba(15, 15, 15, 0.7);
    -moz-box-shadow: 10px 10px 99px -20px rgba(15, 15, 15, 0.7);
  }
}

/* List Group */
@media (prefers-color-scheme: light) {
  .list-group {
    background-color: var(--light) !important;
    padding: 20px;
    border-radius: 15px;

    box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
    -webkit-box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
    -moz-box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
  }
}

@media (prefers-color-scheme: dark) {
  .list-group {
    background-color: var(--dark) !important;
    padding: 20px;
    border-radius: 15px;

    box-shadow: 10px 10px 99px -20px rgba(15, 15, 15, 0.7);
    -webkit-box-shadow: 10px 10px 99px -20px rgba(15, 15, 15, 0.7);
    -moz-box-shadow: 10px 10px 99px -20px rgba(15, 15, 15, 0.7);
  }
}

/* Buttons */
.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
